section.section.section--awesome
  header.section__header.section__header--awesome
    h2 What makes an Unconf so awesome?

  .section__content
    p You! Everybody can propose a talk. Everybody votes for the talks they want to see. The most voted talks will be held. You decide what will happen!
