section.section.section--coc
  header.section__header.section__header--coc
    h2 Code of Conduct

  .section__content
    p
      | The heart of JSUnconf is people. 
      a(href="/coc") This guideline
      |  is meant to support a happy, productive and safe event experience that can welcome new ideas and inspiration for all attendees. Regardless of gender, sexual orientation, age, ability, ethnicity, socioeconomic status, and religion (or lack thereof). We gain strength from diversity, and actively seek participation from those who enhance it.

    p.button
      | Read our full 
      a(href="/coc") Code of Conduct!
