header.main-header
  h1.main-header__logo
    img.main-header__logo__image(src='images/jsunconflogo.svg', alt='JSUnconf')

  h2.main-header__tagline
    | JSUnconf <span>2017</span> in Hamburg
  h2.main-header__tagline
    | 25th &amp; 26th of March 2017
