header.main-header
  h1.main-header__logo
    img.main-header__logo__image(src='images/logo-spaceship.svg', alt='JSUnconf')
  h2.main-header__tagline
    <span class="main-header__supertitle">JSUnconf 2018</span>
    <span class="main-header__title">in Hamburg</span>
    <span class="main-header__subtitle">21./22.4.2018</span>
