section.section.section--schedule
  .section__content
    h2 Schedule
    footer.section__call-to-action
      a(href="https://docs.google.com/spreadsheets/d/1V1Sq3ULJWGx8H81g2MSSzkSlCgNFuLbG29eu1IHR_uQ").button Real-time schedule
    .schedules-container
      .schedule
        h3 Sat, 21.4.
        .schedule-table
            .schedule-line
              .schedule__time 09:00 - 10:00
              .schedule__label.schedule__label Registration & Breakfast
            .schedule-line
              .schedule__time 10:00 - 12:00
              .schedule__label Welcome & Votings
            .schedule-line
              .schedule__time 12:00 - 12:30
              .schedule__label Talk A1 | Talk B1 | Talk C1
            .schedule-line
              .schedule__time 12:45 - 13:15
              .schedule__label Talk A2 | Talk B2 | Talk C2
            .schedule-line
              .schedule__time 13:15 - 14:30
              .schedule__label Lunch
            .schedule-line
              .schedule__time 14:30 - 15:00
              .schedule__label Talk A3 | Talk B3 | Talk C3
            .schedule-line
              .schedule__time 15:15 - 15:45
              .schedule__label Talk A4 | Talk B4 | Talk C4
            .schedule-line
              .schedule__time 15:45 - 16:30
              .schedule__label Coffee & Cake
            .schedule-line
              .schedule__time 16:30 - 17:00
              .schedule__label Talk A5 | Talk B5 | Talk C5
            .schedule-line
              .schedule__time 17:15 - 17:45
              .schedule__label Talk A6 | Talk B6 | Talk C6
            .schedule-line
              .schedule__time 17:45 - 18:00
              .schedule__label Family photo
            .schedule-line
              .schedule__time 20:00 -
              .schedule__label Party at 
                a(href="https://www.google.de/maps/place/13ter+Stock/@53.5632727,9.9586764,17z/data=!4m5!3m4!1s0x47b18f42d5a59093:0xfc9005b601bd7b85!8m2!3d53.5637188!4d9.9596313")  Good Old Days
      .schedule
        h3 Sun, 22.4.
        .schedule-table
            .schedule-line
              .schedule__time 09:00 - 10:00
              .schedule__label Registration & Breakfast
            .schedule-line
              .schedule__time 10:00 - 11:30
              .schedule__label Votings
            .schedule-line
              .schedule__time 11:30 - 12:00
              .schedule__label Talk A1 | Talk B1 | Talk C1
            .schedule-line
              .schedule__time 12:15 - 12:45
              .schedule__label Talk A2 | Talk B2 | Talk C2
            .schedule-line
              .schedule__time 12:45 - 13:45
              .schedule__label Lunch
            .schedule-line
              .schedule__time 13:45 - 14:15
              .schedule__label Talk A3 | Talk B3 | Talk C3
            .schedule-line
              .schedule__time 14:30 - 15:00
              .schedule__label Talk A4 | Talk B4 | Talk C4
            .schedule-line
              .schedule__time 15:00 - 15:30
              .schedule__label Coffee & Cake
            .schedule-line
              .schedule__time 15:30 - 16:15
              .schedule__label Lightning Talks
            .schedule-line
              .schedule__time 16:15 - 16:30
              .schedule__label Closing
