section.section.section--sponsoring
  header.section__header.section__header--sponsoring
    h2 How to become a sponsor

  .section__content
    p We are expecting sponsorship slots to be taken very quickly.
      | View the detailed information about <a href="https://drive.google.com/folderview?id=0B1trPN7P6p7bWFVmTk55NG81SE0&usp=drive_web#list">various sponsoring options</a>.
      | Please send us your feedback by begin of February 2017.

  footer.section__call-to-action
    a(href="mailto:sponsoring@jsunconf.eu?subject=Sponsoring the JSUnconf 2017").button Send us an email
