section.section.section--tickets
  header.section__header.section__header--tickets
    h2 Tickets

  .section__content
    dl.tickets__prices
      dt Early Bird:
      dd  <span class='bold'>€59</span>
      dt Regular:
      dd  <span class='bold'>€79</span>
      dt Late Bird:
      dd  <span class='bold'>€119</span> (Not yet available)

    h3 Diversity Tickets

    p Our scholarship program is organized to make JSUnconf a better unconference. We want to make this community-focused event accessible to the wide range of people who are learning, work with, or are enthusiasts of Javascript. We welcome applicants from underrepresented groups in tech to apply. This includes, but is not limited to: women-identifying persons, people of color, LGBTQIA people, people with physical and mental disabilities, people facing economic and/or political hardships. Scholarship recipients will receive a JSUnconf 2017 ticket plus a €300 travel and accommodation stipend. The deadline is February 20th. Applicants will be notified by February 27th. You can apply <a href="https://goo.gl/forms/NGpEovqgMlt5hAdo2">here</a>.

  footer.section__call-to-action
    a(href="https://ti.to/jsunconf/jsunconf-2017").button Get your ticket!
