section.section.section--tickets
  header.section__header.section__header--tickets
    h2 Tickets

  .section__content
    .tickets__prices
      a(href="https://ti.to/jsunconf/jsunconf-2018").tickets__price Early Bird <span class='bold'>€59</span>
      a(href="https://ti.to/jsunconf/jsunconf-2018").tickets__price Regular <span class='bold'>€79</span>
      a(href="https://ti.to/jsunconf/jsunconf-2018").tickets__price Regular with 50% Diversity support <span class='bold'>€119</span>
      a(href="https://ti.to/jsunconf/jsunconf-2018").tickets__price Regular with 100% Diversity support <span class='bold'>€159</span>

    h3 Diversity Tickets

    p Our scholarship program is organized to make JSUnconf a better unconference. We want to make this community-focused event accessible to the wide range of people who are learning, work with, or are enthusiasts of Javascript. We welcome applicants from underrepresented groups in tech to apply. This includes, but is not limited to: women-identifying persons, people of color, LGBTQIA people, people with physical and mental disabilities, people facing economic and/or political hardships. Scholarship recipients will receive a JSUnconf 2018 ticket plus a €300 travel and accommodation stipend.

    p We will open the applications soon!
