section.section.section--workshop
  header.section__header.section__header--workshop
    h2 Workshop

  .section__content
    p This year we want to try something new and offer a workshop in cooperation with ngGirls:
    p As ngGirls we believe that the IT industry will greatly benefit from bringing more women into technology. That’s why we are offering  several workshops around the world for learning Angular. The very first time we would like to do this at JSUnconf in a workshop-alike way. That means after an introduction session to our tutorial we provide office hours where you can get help by our mentors. You are free to switch between the tutorial and the other sessions of the unconference.
    p For participants: please register at our website and we provide you more information about „Getting Started“.
    p For mentors: If you want to help us as a mentor (you don't need to be an Angular expert), please inform us.

  footer.section__call-to-action
    a(href="http://ng-girls.org/jsunconf/").button Register as participant
  footer.section__call-to-action
    a(href="http://ng-girls.org/jsunconf/").button Become a mentor
