.main-footer
  font-size: 1rem
  padding: 2em 0 10em 0
  width: 100%
  width: 100vw
  text-align: center

  &__people
    height: 20em
    background-size: cover
    margin-bottom: 3em
    position: relative

    &__headline
      color: $backgroundColor
      margin: 0
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  &__link
    img
      vertical-align: bottom
      margin-right: .2em
