.main-header
  font-size: 1rem
  width: 90%
  margin: 15vh auto

  &__logo
    font-size: 1rem
    height: emCalc(148)
    width: 100%
    margin-bottom: emCalc(90)
    &__image
      display: none
      max-width: emCalc(148)
      max-height: emCalc(148)

  &__tagline
    font-weight: 400
    margin: 0
    padding: 0
    width: 100%

    span
      font-weight: 700

  .sub-header
    text-align: center
    padding-top: emCalc(20)
