.section
  font-size: 1rem
  margin: emCalc(50) 0

  &__header, &__content, &__call-to-action
    max-width: emCalc(940)
    margin: 0 auto

  &__header
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    mix-blend-mode: darken

    h2
      line-height: 1.05

    &--awesome, &--tickets, &--sponsoring, &--coc
      padding: 0 2em

    &--awesome
      background-image: url('/images/voting.jpg')

    &--location
      background-image: url('/images/bmk.jpg')

    &--tickets
      background-image: url('/images/tickets.jpg')

    &--sponsoring
      background-image: url('/images/sponsoring.jpg')

    &--coc
      background-image: url('/images/coc.jpg')

    &--workshop
      background-image: url('/images/workshop.jpg')

  &__content
    padding: emCalc(40) emCalc(20)
    background: rgba(white, .4)

  &__call-to-action
    text-align: center
    background: rgba(white, .4)
    padding: 0 emCalc(20) emCalc(40) emCalc(20)
