body
  font-size: 1rem

  display: flex
  align-items: center
  flex-direction: column

  font-family: 'Source Code Pro', monospace
  color: white
  background: linear-gradient(to bottom, rgba(51, 139, 202, 0.7), $backgroundColor), url("/images/background.png");
  background-size: 100%
  background-repeat: no-repeat
