body
  font-size: 1rem

  display: flex
  align-items: center
  flex-direction: column

  font-family: 'Source Code Pro', monospace
  color: white

h1, h2, h3
  text-align: center

.container
  background: url("/images/background.png");
  background-size: 100%
  background-repeat: no-repeat
