.contriboot
    background-color: $backgroundColor
    color: white
    

    .textarea
        height: 6em
        text-align: left
        p
            text-align: left
            margin: 0

    input,
    textarea,
    .textarea
      outline: none
      background-color: white
      color: black
  
    .section__header
        background-image: url("/images/background.jpg")
        background-size: cover
        margin-top: -2.75rem
        padding-top: 2.75rem
        background-repeat: no-repeat

    .section.contriboot-headline
        color: white
        background: none
        padding: 0

    .exerpt
        padding: 1rem 17.5vw 2rem 17.5vw
        margin: 0
        text-align: center
        background-image: linear-gradient(to bottom, rgba(196, 60, 183, 0.0), var(--darkish-purple))

    ul
        list-style-type none
        padding 0
    
        a
            display block
            line-height: 2.25rem
            padding 0.75rem 1rem 0.75rem 1rem
    
        a:hover
            background white
            color var(--darkish-purple)

        h3
            text-align: left
            display inline-grid
            width 100%
            margin 0

        small
            font-size 1rem

        li
            text-align: left

    .entry
        margin-bottom: 4rem
        padding-bottom: 1rem
        border 1px solid var(--darkish-purple)

        p
            padding-top: 1.5rem

        .entry__description
            display: none

        li
            padding: 1rem 0 0 1rem

        li li
            padding-top: 0

    .entry--active
        border 1px solid white

        a
            background white
            color var(--darkish-purple)

        p
            margin: 0

        .entry__description
            display: block

    .entry__header__votes
        display: inline-block
        margin 1.5rem 1rem 1rem 1rem

    .entry__header__votes__button
        background-color: transparent
        margin-right: 0.5rem
    
    .entry__header__votes__button:hover
        background #DC49C6

    .entries-container
        padding: 0

    .entry__description
        padding: 0 2rem 1rem 1rem

    .user
        padding: 0rem 0vw 6.75rem 0vw
    
    .user__message
        text-align: center

    .user__button-login
        margin-top: 1rem
        background: none
        border: none
        width: 100%
        text-decoration: underline
        font-weight: bold

    .user__button-login:hover
        text-transform: uppercase
        text-decoration: none


    fieldset
        label 
            float: left
            width: 25%
            text-align: left
        .medium-editor-element, input
            float: left
            width: 65%
            margin: 5px
            height: auto

    .submit-form__type-selection
        input
            float: left
            width: 20%
            height: auto
            margin: none
        label 
            float: left
            width: 75%
            text-align: left

    .submit-form button,
    .user .button
            background-color: var(--dark-plum)

@media screen and (min-width: 1000px)   
    .section__header
        background-position-y: -10rem

@media screen and (min-width: 1280px)
    .section__header
        background-position-y: -17.5rem
