.contriboot
    background-color: $backgroundColor
    color: white

    ul
        list-style-type none
        padding 0

    h3
        text-align: left
        display inline-grid
        width 100%

    li
        text-align: left

    .section__header
        background-image: url("/images/background.jpg")
        background-size: cover
        margin-top: -2.75rem
        padding-top: 2.75rem
        background-repeat: no-repeat

    .section.contriboot-headline
        color: white
        background: none
        padding: 0
    .exerpt
        padding: 1rem 17.5vw 2rem 17.5vw
        margin: 0
        text-align: center
        background-image: linear-gradient(to bottom, rgba(196, 60, 183, 0.0), var(--darkish-purple));



@media screen and (min-width: 1000px)
    .section__header
        background-position-y: -10rem

@media screen and (min-width: 1280px)
    .section__header
        background-position-y: -17.5rem
