.map
  font-size: 1rem
  position: relative
  padding-bottom: 400px

  &__canvas
    height: 400px
    width: 100vw
    position: absolute
    left: 50%
    transform: translateX(-50%)

  .mapboxgl-canvas
    left: 0
