.section
  background-color: $backgroundColor
  color: white
  padding: 20px
  &:nth-child(2n+1)
    background-color: white
    color: $backgroundColor



.section__header,
.section__content
    text-align: center
