.tickets__prices
  display: inline-block
  text-align: left

.tickets__price
  display: flex
  background-color: $backgroundColor
  color: white
  justify-content: space-between
  padding: 20px
  margin: 20px
  border: 2px solid white
  text-decoration: none

  .bold
    font-weight: 600
    margin-left: 20px
