.tickets__prices
  display: inline-block
  text-align: left

.tickets__price
  display: flex
  align-items: center
  background-color: $backgroundColor
  color: white
  justify-content: space-between
  padding: 20px
  margin: 20px 0
  border: 2px solid white
  text-decoration: none;

.tickets__price:hover
  display: flex
  background-color: white
  color: $backgroundColor

.bold
  font-weight: 600
  margin-left: 20px

.nowrap
  white-space nowrap