body {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  background: linear-gradient(to bottom, rgba(51,139,202,0.7), #8f237f), url("/images/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-header__logo {
  width: 30%;
  transform: rotateY(38deg) rotateZ(21deg) rotateX(-33deg);
  transform-style: preserve-3d;
}
footer {
  text-align: center;
  color: #fff;
}
.tickets__prices {
  display: inline-block;
  text-align: left;
}
.tickets__price {
  display: flex;
  background-color: #8f237f;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border: 2px solid #fff;
  text-decoration: none;
}
.tickets__price .bold {
  font-weight: 600;
  margin-left: 20px;
}
.section {
  background-color: #8f237f;
  color: #fff;
  padding: 20px;
}
.section:nth-child(2n+1) {
  background-color: #fff;
  color: #8f237f;
}
.section__header,
.section__content {
  text-align: center;
}
.map {
  font-size: 1rem;
  position: relative;
  padding-bottom: 400px;
}
.map__canvas {
  height: 400px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.map .mapboxgl-canvas {
  left: 0;
}
