footer.main-footer
  .main-footer__people
    .main-footer__people__headline This is YOUR conference!

  .main-footer__links
    p
      a.main-footer__link(href='https://twitter.com/jsunconf' title='Follow us on Twitter', target='_blank')
        img(src='/images/twitter.svg', alt='')
        | Follow us on Twitter
    p
      a.main-footer__link(href='mailto:contact@jsunconf.eu' title='Contact')
        | Contact
    p
      a.main-footer__link(href='/imprint' title='Imprint')
        | Imprint
