section.section.section--sponsors.sponsors
  .section__content.section__content--full-width.section__content--centered
    h2.sponsors__title
      | Great companies

    each level in ['Gold', 'Silver', 'Bronze']
      - var levelSponsors = sponsors.filter(sponsor => sponsor.level === level);

      if levelSponsors && levelSponsors.length > 0
        .sponsors__level
          h4.sponsors__level__name= level
          .sponsors__level__logos
            each sponsor in levelSponsors
              a.sponsors__level__logos__link(href=sponsor.url, title=sponsor.name, target="_blank", class="sponsors__level__logos__link--"+level)
                img(src="/images/sponsors/"+sponsor.image, alt=sponsor.name)

<<<<<<< Updated upstream
    .section__call-to-action
      a(href="/sponsors/", title="More about our sponsors").sponsors-button More about our sponsors
=======
  .section__call-to-action
    a(href="/sponsors/", title="More about our sponsors").button More about our sponsors
>>>>>>> Stashed changes
