extends _layout

block main
  section.simple-content.section__contriboot
    header.simple-content__header
      h1 !{title}
      if exerpt
        p.exerpt !{exerpt}

  section.section.section__content
    .mount

  script(src="/scripts/contriboot.js")
