extends _layout

block main
  section.simple-content
    header.simple-content__header
      h1 !{title}
      if exerpt
        p.exerpt !{exerpt}

    .mount

    block sponsors

  script(src="/scripts/contriboot.js")
