extends _layout

block main
    include index-partials/header
    include index-partials/tickets
    include index-partials/sponsoring
    include index-partials/location
    include index-partials/code-of-conduct
