extends _layout

block main

  include index-partials/header
  include index-partials/schedule
  include index-partials/contriboot
  include index-partials/workshop
  include index-partials/location
  include index-partials/code-of-conduct
  include index-partials/tickets
