:root {
  --darkish-purple: #911c80;
  --darkish-purple-alpha: rgba(145,28,128,0.75);
  --ocean-blue: #0669b4;
  --ocean-blue-alpha: rgba(6,105,180,0.75);
  --peacock-blue: #024b9f;
  --white: #fff;
  --black: #000;
  --dark-plum: #46003c;
}
.Text-Style {
  font-family: SourceCodePro;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.27;
  text-align: center;
  color: #fff;
  color: var(--white);
}
.Text-Style-3 {
  font-family: SourceCodePro;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.38;
  text-align: center;
  color: #fff;
  color: var(--white);
}
.Text-Style-4 {
  font-family: SourceCodePro;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  color: var(--white);
}
.Text-Style-5 {
  font-family: SourceCodePro;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  color: var(--white);
}
.Text-Style-2 {
  font-family: SourceCodePro;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #fff;
  color: var(--white);
}
body {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  line-height: 1.67;
  color: #fff;
}
h1,
h2,
h3 {
  text-align: center;
}
.container {
  background-image: url("/images/background.png"), linear-gradient(72deg, #911c80, #0b66b2 85%, #0669b4), linear-gradient(72deg, var(--darkish-purple-alpha), #0b66b2 85%, var(--ocean-blue-alpha));
  background-size: 100vh;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top, top, top;
}
.main-header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(29deg, var(--darkish-purple-alpha), rgba(11,102,178,0.75) 85%, var(--ocean-blue-alpha));
  height: 100vh;
  justify-content: flex-end;
}
.main-header__logo {
  text-align: center;
}
.main-header__logo__image {
  width: 50%;
}
.main-header__tagline {
  padding: 80px 30px;
}
.emoji-font {
  font-family: monospace;
}
footer.main-footer {
  text-align: center;
  color: #fff;
  background-color: var(--dark-plum);
  padding-bottom: 50px;
}
.main-footer__people {
  background-image: url("/images/028.jpg");
  background-color: var(--dark-plum);
  background-size: cover;
  height: 100px;
  background-position-y: 496px;
  background-image: linear-gradient(29deg, var(--darkish-purple), #0b66b2 85%, var(--ocean-blue));
}
.main-footer__people:before {
  content: ' ';
  display: block;
  height: 100%;
  z-index: 1;
  opacity: 0.3;
  background-size: cover;
  background-image: url("/images/yourConference.jpg");
  background-repeat: no-repeat;
}
.main-footer__people__headline {
  top: -83px;
  position: relative;
}
.main-footer__link {
  color: #fff;
}
.tickets__prices {
  display: inline-block;
  text-align: left;
}
.tickets__price {
  display: flex;
  background-color: #8f237f;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border: 2px solid #fff;
  text-decoration: none;
}
.tickets__price .bold {
  font-weight: 600;
  margin-left: 20px;
}
.section {
  background-color: #8f237f;
  color: #fff;
  padding: 20px;
}
.section:nth-child(2n+1) {
  background-color: #fff;
  color: #8f237f;
}
.section:nth-child(2n+1) a,
.section:nth-child(2n+1) .section__call-to-action .button {
  color: #8f237f;
}
.section__header,
.section__content {
  text-align: center;
}
.section.section--sponsors {
  background-color: var(--dark-plum);
  color: #fff;
}
.section__call-to-action {
  text-align: center;
}
a,
.section__call-to-action .button {
  color: #fff;
}
.map {
  font-size: 1rem;
  position: relative;
  padding-bottom: 400px;
}
.map__canvas {
  height: 400px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.map .mapboxgl-canvas {
  left: 0;
}
.sponsors__level__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.sponsors__level__logos__link {
  box-sizing: border-box;
  padding: 15px;
  flex: 0 1 32%;
}
.sponsors__level__logos__link img {
  width: 100%;
}
.sponsors__level__logos__link.sponsors__level__logos__link--Silver {
  flex: 0 1 25%;
}
.sponsors__level__logos__link.sponsors__level__logos__link--Bronze {
  flex: 0 1 22%;
}
@media screen and (max-width: 800px) {
  .sponsors__level__logos__link {
    flex: 0 1 50%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Silver {
    flex: 0 1 32%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Bronze {
    flex: 0 1 25%;
  }
}
@media screen and (max-width: 400px) {
  .sponsors__level__logos__link {
    flex: 0 1 100%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Silver {
    flex: 0 1 50%;
  }
  .sponsors__level__logos__link.sponsors__level__logos__link--Bronze {
    flex: 0 1 32%;
  }
}
.sponsorlist {
  background-color: #8f237f;
  color: #fff;
}
.sponsorlist .section.sponsor-headline {
  color: #fff;
  background: none;
  padding: 0;
}
.sponsorlist .exerpt {
  padding: 20px;
  margin: 0;
  height: 10%;
  background-image: linear-gradient(to bottom, rgba(196,60,183,0), #911c80);
  background-image: linear-gradient(to bottom, rgba(196,60,183,0), var(--darkish-purple));
}
.sponsorlist .sponsor-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsorlist .sponsors__level {
  max-width: 635px;
  text-align: center;
  color: #fff;
  color: var(--white);
}
.sponsorlist .sponsors__level .sponsor__logo {
  flex: 1 1 100%;
}
.sponsorlist .sponsors__level .sponsor__meta {
  flex: 1;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}
.sponsorlist .sponsors__level .sponsor {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sponsorlist .sponsor__logo__image {
  max-height: 70px;
  width: 100%;
}
