.section--schedule
  .section__content
    width: 100%

  h3
    padding: 5px

  tr:nth-child(2n+1)
    background-color: #cecece

  td
    padding: 16px 10px

  td.schedule__time
    text-align: center

  .schedules-container
    justify-content: space-around
    flex-wrap: wrap
    display: flex
